<nav>
  <h1 class="h1_nav_mainCity">Vientiane</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Must Do</h1>
        <%= image_tag("padthai.jpg", class: "style_image", alt: "Pad Thai") %>
      <h2 class="h2_city_specific">Nothing</h2>
      <p class="h2_city_specific">Not much is happening in this city. Biggest mistake of the trip </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Avoid</h1>
      <%= image_tag("temple_bangkok.jpg", class: "style_image", alt: "Bangkok") %>
      <h2 class="h2_city_specific">The entire city</h2>
      <p class="p_city_specific">Biggest mistake was not going to Luang Prabang</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Luang Prabang</h1>
      <%= image_tag("tuktuks.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <h2 class="h2_city_specific">Go There.</h2>
      <p class="p_city_specific">Do not go to Vientiane</p>
    </div>
  <div>
</div>
