<nav>
  <h1 class="h1_nav_mainCity">Koh Samui</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_kohsamui">
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1>Beach Bum</h1>
      <h2>Find Your Beach</h2>
        <%= image_tag("kohsamui_beach.jpg", class: "style_image", alt: "Pad Thai") %>
      <p>So many beaches. Find your sun. </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Rent a Scooter</h1>
      <h2>Hit the entire island</h2>
      <%= image_tag("kohsamui_scooter.jpg", class: "style_image", alt: "Bangkok") %>
      <p>Take a day and just cruise. You can hit the entire island and it is beautiful. Also, if you want to go snorkling, go to the south end of the island. Hidden secrets down there.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Massage</h1>
      <h2>You came here to relax</h2>
      <%= image_tag("kohsamui_massage.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <p>Treat yourself. There are a nice places everywhere. That's why you are here.</p>
    </div>
  <div>
</div>
