<nav>
  <h1 class="h1_nav_mainCity">Halong Bay</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_halongbay">
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1>Junk Boat Cruise</h1>
      <h2>Indochina</h2>
        <%= image_tag("halongbay_indochina.jpg", class: "style_image", alt: "Pad Thai") %>
      <p>It's expensive, but feels good to have a fancy evening</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Smog</h1>
      <h2>It's everywhere</h2>
      <%= image_tag("halongbay_fog.jpg", class: "style_image", alt: "Bangkok") %>
      <p>The photos online look incredible, but anticipate significant fog/smog: So if you want that Instagram shot - - Wake Up Early</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Drink Up</h1>
      <h2>Grab A Bottle</h2>
      <%= image_tag("halongbay_wine.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <p>You are never doing this boat tour again, so grab a bottle of wine. I'd go with something from New Zealand</p>
    </div>
  <div>
</div>
