<nav>
  <h1 class="h1_nav_mainCity">Ho Chi Minh</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_hochiminh">
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1>War Museum</h1>
      <h2>Left me speechless</h2>
        <%= image_tag("hochiminh_war.jpg", class: "style_image", alt: "Pad Thai") %>
      <p>Powerful, honest and a heartbreaking look at the Vietnam War. </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Traffic</h1>
      <h2>It's crazy</h2>
      <%= image_tag("Hanoi.jpg", class: "style_image", alt: "Bangkok") %>
      <p>Be prepared for scooters and traffic everywhere</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Pho</h1>
      <h2>Yeah, it's so cheap</h2>
      <%= image_tag("hochiminh_pho.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <p>The food is ... out of this world. Don't forget your Bahn Mi on the side</p>
    </div>
  <div>
</div>
