body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100%;
  margin-top: 0px;
}
a:link {
  text-decoration: none;
}

/* Header : Main H! : Home page : Nav Bar */

/*.nav_home_page {
  height: 600px;
}*/
