// Place all the styles related to the Thailand controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* NAV BAR */
.h1_nav_mainCity, .h1_mainCity_home {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.h1_mainCity_home {
  float: right;
  font-size: 1.5em;
  width: 30%;
}
.h1_mainCity_home:hover {
color: blue;
}
.h1_nav_mainCity {
  font-size: 2em;
  float: left;
  width: 60%;
}


/* Organization // Styling of Structure: */
.div_mainCity_specific {
  // background: url(bangkok.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  clear: both;
}
.div_mainCity_toDos {
  background-color: 'white';
}
.div_mainCity_specificTodo {
  width: 100%;
  text-align: center;
}

/* Specific To Do Items Within div_maincity_todos */
.style_image, .image_city_specific {
  height: 250px;
  width: 100%;
}
.h1_city_specific, .h2_city_specific {
  font-weight: 100;
}
.p_city_specific {
  font-weight: 100;
  font-size: 2em;
}

/* Header : Right under Nav :  -- Basically the same: But each one has a slightly different background */
.h1_city_toDo {
  font-family: 'Nixie One', cursive;
  color: white;
  font-size: 1em;
  padding-top: .5em;
  padding-left: .5em;
  clear: both;
  text-align: left;
}
@mixin backgroundImage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.div_header_Bangkok {
  clear: both;
  height: 500px;
  background: image-url('bangkok.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_kohsamui {
  clear: both;
  height: 500px;
  background: image-url('kohsamui.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_chiangmai {
  clear: both;
  height: 500px;
  background: image-url('chiangmai.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_vientiane {
  clear: both;
  height: 500px;
  background: image-url('vientiane.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_vangvieng {
  clear: both;
  height: 500px;
  background: image-url('vangvieng.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_hoian {
  clear: both;
  height: 500px;
  background: image-url('hoi_an.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_hochiminh {
  clear: both;
  height: 500px;
  background: image-url('hochiminh.jpg') no-repeat center center;
  @include backgroundImage;
}
.div_header_halongbay {
  clear: both;
  height: 500px;
  background: image-url('halong_bay.jpg') no-repeat center center;
  @include backgroundImage;
}
@media screen and (min-width: 480px) {
  .style_image, .image_city_specific {
    height: 350px;
    width: 450px;
  }

}
@media screen and (min-width: 850px) {
  .div_header_kohsamui, .div_header_Bangkok, .div_header_chiangmai, .div_header_vientiane, .div_header_vangvieng, .div_header_halongbay, .div_header_hoian, .div_header_hochiminh {
    height: 400px;
  }
  .style_image, .image_city_specific {
    height: 250px;
    width: 350px;
  }
  .image_city_specific {
    height: 300px;
    width: 50%;
    float: left;
  }
.div_mainCity_specificTodo {
  width: 30%;
  float: left;
  margin-left: 3%;
}
.div_mainCity_toDos {
  background-color: 'white';
  height: 400px;
}
}
