// Place all the styles related to the Travel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Setting Background Images For Vietnam/Thailand/Laos */
/* Created Mixin to make this more efficient */

@mixin backgroundImage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.div_city_hoian {
  background: url('hoi_an.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_hochiminh {
  background: url('hochiminh.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_hanoi {
  background: url('halong_bay.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_vangvieng {
  background: url('vangvieng.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_vientiane {
  background: url('vientiane.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_kohsamui {
  background: url('kohsamui.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_chiangmai {
  background: url('chiangmai.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_bangkok {
  background: url('bangkok.jpg') no-repeat center;
  @include backgroundImage;
}
