// Place all the styles related to the Travel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Setting Background Images For Vietnam/Thailand/Laos */
/* Created Mixin to make this more efficient */

@mixin backgroundImage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.div_city_hoian {
  background: image-url('hoi_an.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_hochiminh {
  background: image-url('hochiminh.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_hanoi {
  background: image-url('halong_bay.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_vangvieng {
  background: image-url('vangvieng.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_vientiane {
  background: image-url('vientiane.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_kohsamui {
  background: image-url('kohsamui.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_chiangmai {
  background: image-url('chiangmai.jpg') no-repeat center;
  @include backgroundImage;
}
.div_city_bangkok {
  background: image-url('bangkok.jpg') no-repeat center;
  @include backgroundImage;
}
.nav_home_page {
  background: image-url('hoian_beach.jpg') no-repeat center center;
  @include backgroundImage;
  height: 500px;
}
@media screen and (min-width: 850px) {
  .nav_home_page {
    background: image-url('hoian_beach.jpg') no-repeat center center fixed;
    @include backgroundImage;
    height: 600px;
  }
  // .home_page {
  //   background: image-url('seasia.jpg') no-repeat center center fixed;
  //   @include backgroundImage;
  // }
}
