<!DOCTYPE html>
<html>
  <head>
    <title>TravelAsia</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab:400,600|Neucha|Nixie+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>

    <%= yield %>
  </body>
</html>
